.room1 {
  		width: 100px;
  		height: 100px;
  		background-color: black;
  		border: 1px solid #fff;
  		box-shadow: 0 0 0 1px #A4A4A4;
 		position: relative;
  	}
.light {
  background: #00fefe;
}
.room2 {
  		width: 100px;
  		height: 100px;
  		background-color: white;
  		border: 1px solid #A4A4A4;
  		position: absolute;
  	}
