.room1 {
  		width: 500px;
  		height: 500px;
  		background-color: black;
  		border: 1px solid #fff;
  		box-shadow: 0 0 0 1px #A4A4A4;
 		position: relative;
  	}

.circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}
    .light {
      background: #00fefe;
    }
